[Unit]
Description=Station Refresh on Boot
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=serfary
WorkingDirectory=/home/serfary/
ExecStart=if [ -d "L1GH7H0U53" ]; then cd L1GH7H0U53 && git fetch --all && git reset --hard origin/main && git clean -fd && git pull; else git clone https://github.com/Serfary/L1GH7H0U53.git; fi
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target


